{% extends 'board/base.html' %}
{% block title %} 수정 {% endblock %}
{% block content %}
<form method ="POST">
    {% csrf_token %}
    <input type="hidden" name="writer" value="{{board.writer}}">
<table border="1">
    <tr>
        <th>title</th>
        <td>
            <input type="text" name ="title" value="{{board.title}}">
        </td>
    </tr>
    <tr>
        <th>writer</th>
        <td>
            <input type="text" name ="writer" value="{{board.writer}}" disabled>
        </td>
    </tr>
    <tr>
        <th>content</th>
        <td>
            <textarea name ="content"> {{board.content}}</textarea>
        </td>
    </tr>    
</table>
<button type="submit">수정</button>
</form>
{% endblock %}