{% extends 'board/base.html' %}
{% block title %} 등록 {% endblock %}
{% block content %}
<form method ="POST">
    {% csrf_token %}
<table border="1">
    <tr>
        <th>title</th>
        <td>
            <input type="text" name ="title">
        </td>
    </tr>
    <tr>
        <th>writer</th>
        <td>
            <input type="text" name ="writer">
        </td>
    </tr>
    <tr>
        <th>content</th>
        <td>
            <textarea name ="content"></textarea>
        </td>
    </tr>    
</table>
<button type="submit">등록</button>
</form>
{% endblock %}